{% extends 'Blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<main>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-md-9 col-lg-7 col-xl-5">
                    <div class="card shadow" style="border-radius: 15px;">
                        <div class="card-body p-4">
                            <div class="d-flex text-black">
                                <form action="." method="post" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    {{ form|crispy }}
                                    <div class="d-flex pt-3">
                                        <button type="submit" class="btn btn-outline-primary me-1 flex-grow-2">Save
                                        </button>
                                        <a href="{% url 'profile' %}">
                                            <button type="button" class="btn btn-primary flex-grow-1">Cancel</button>
                                        </a>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

</main>
<!--{% include 'Blog/include_files/_footer.html' %}-->
{% endblock %}